package partials

templ Footer() {
	<footer class="footer mt-auto py-3 bg-light">
		<div class="container text-center">
			<span class="text-muted">E-Waste Drive Scheduler © 2024</span>
		</div>
	</footer>
}
